<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>filter.EncodingFilter</filter-class>
	</filter>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>user.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>PermissionServlet</servlet-name>
		<servlet-class>system.PermissionServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UserManServlet</servlet-name>
		<servlet-class>system.UserManServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>UpdateUserServlet</servlet-name>
		<servlet-class>system.UpdateUserServlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserDelServlet</servlet-name>
    <servlet-class>system.UserDelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>system.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListRoleServlet</servlet-name>
    <servlet-class>system.ListRoleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateRoleServlet</servlet-name>
    <servlet-class>system.UpdateRoleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRoleServlet</servlet-name>
    <servlet-class>system.AddRoleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListPerServlet</servlet-name>
    <servlet-class>system.ListPerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdatePerServlet</servlet-name>
    <servlet-class>system.UpdatePerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddPerServlet</servlet-name>
    <servlet-class>system.AddPerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListWareHouse</servlet-name>
    <servlet-class>wareHouse.ListWareHouse</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateWHServlet</servlet-name>
    <servlet-class>wareHouse.UpdateWHServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DelWHServlet</servlet-name>
    <servlet-class>wareHouse.DelWHServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddWHServlet</servlet-name>
    <servlet-class>wareHouse.AddWHServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCarServlet</servlet-name>
    <servlet-class>wareHouse.AddCarServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StoceServlet</servlet-name>
    <servlet-class>wareHouse.StoceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowUserServlet</servlet-name>
    <servlet-class>system.ShowUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TableServlet</servlet-name>
    <servlet-class>wareHouse.TableServlet</servlet-class>
  </servlet>

<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FilmServlet</servlet-name>
    <servlet-class>film.FilmServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddFactoryServlet</servlet-name>
    <servlet-class>film.AddFactoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateFactoryServlet</servlet-name>
    <servlet-class>film.UpdateFactoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteFactoryServlet</servlet-name>
    <servlet-class>film.DeleteFactoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>clients.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCustomerServlet</servlet-name>
    <servlet-class>clients.AddCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>clients.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UptateCustomerServlet</servlet-name>
    <servlet-class>clients.UptateCustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VisitServlet</servlet-name>
    <servlet-class>visit.VisitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteVisitServlet</servlet-name>
    <servlet-class>visit.DeleteVisitServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>sell.AddOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>sell.OrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>sell.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SellListServlet</servlet-name>
    <servlet-class>sell.SellListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestUserServlet</servlet-name>
    <servlet-class>system.TestUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExcelServlet</servlet-name>
    <servlet-class>sell.ExcelServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>user.SessionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>system.PageServlet</servlet-class>
  </servlet>

























	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PermissionServlet</servlet-name>
		<url-pattern>/servlet/PermissionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserManServlet</servlet-name>
		<url-pattern>/servlet/UserManServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserServlet</servlet-name>
		<url-pattern>/servlet/UpdateUserServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDelServlet</servlet-name>
    <url-pattern>/servlet/UserDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/servlet/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListRoleServlet</servlet-name>
    <url-pattern>/servlet/ListRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateRoleServlet</servlet-name>
    <url-pattern>/servlet/UpdateRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRoleServlet</servlet-name>
    <url-pattern>/servlet/AddRoleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListPerServlet</servlet-name>
    <url-pattern>/servlet/ListPerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePerServlet</servlet-name>
    <url-pattern>/servlet/UpdatePerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPerServlet</servlet-name>
    <url-pattern>/servlet/AddPerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListWareHouse</servlet-name>
    <url-pattern>/servlet/ListWareHouse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateWHServlet</servlet-name>
    <url-pattern>/servlet/UpdateWHServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelWHServlet</servlet-name>
    <url-pattern>/servlet/DelWHServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddWHServlet</servlet-name>
    <url-pattern>/servlet/AddWHServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCarServlet</servlet-name>
    <url-pattern>/servlet/AddCarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StoceServlet</servlet-name>
    <url-pattern>/servlet/StoceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUserServlet</servlet-name>
    <url-pattern>/servlet/ShowUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TableServlet</servlet-name>
    <url-pattern>/servlet/TableServlet</url-pattern>
  </servlet-mapping>

 <servlet-mapping>
    <servlet-name>FilmServlet</servlet-name>
    <url-pattern>/servlet/FilmServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFactoryServlet</servlet-name>
    <url-pattern>/servlet/AddFactoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFactoryServlet</servlet-name>
    <url-pattern>/servlet/UpdateFactoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFactoryServlet</servlet-name>
    <url-pattern>/servlet/DeleteFactoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/servlet/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCustomerServlet</servlet-name>
    <url-pattern>/servlet/AddCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/servlet/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UptateCustomerServlet</servlet-name>
    <url-pattern>/servlet/UptateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VisitServlet</servlet-name>
    <url-pattern>/servlet/VisitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteVisitServlet</servlet-name>
    <url-pattern>/servlet/DeleteVisitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/servlet/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/servlet/OrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/servlet/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SellListServlet</servlet-name>
    <url-pattern>/servlet/SellListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestUserServlet</servlet-name>
    <url-pattern>/servlet/TestUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExcelServlet</servlet-name>
    <url-pattern>/servlet/ExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/servlet/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/servlet/PageServlet</url-pattern>
  </servlet-mapping>

</web-app>
